.posts{
    padding-left: 15px;
    padding-right: 25px;
}


.post {
    float:left;
}

.post h2{
    margin: 0;
    color: black;
}

.post_title{
    width: 550px;
    float: left;
    height: 40px;

}

.post_date {
    width: 550px;
    float: left;
    height: 25px;
    padding-bottom: 10px;

}

.post_body{
    width: 550px;
    float: left;

}

.comments{
    width: 550px;
    float: left;
}

.space_between_posts{
   float: left;
   height:50px;
    width: 550px;
    border-top:solid 1px;
    border-color: lightgray;
}

.providers_buttons {
    width: 550px;
    float:left;
}

.autenticate_con{
    padding-left: 20px;
      float:left;
      font-size: 15px;
      width: 120px;

}

.provider_button{
    float:left;
    width: 40px;
}

.comment_form {
    float: left;
    padding-bottom:20px;
}

.new_comment{
    float:left;
    padding-left: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

.new_comment .name_field{
    float:left;
    width: 230px;
}

.new_comment .name_field label{
}

.new_comment .name_field input{
         width: 150px;

}

.new_comment .web_page_field{
    float: left;
    width: 300px;
}

.new_comment .web_page_field input {
     width: 200px;
}

.new_comment .comment_field{
    float: left;
    padding-top: 20px;
    padding-bottom: 15px;
}

.new_comment .comment_field label{
    float: left;
}

.new_comment .comment_field textarea {
    float: left;
    height: 100px;
    width: 490px;
    padding: 5px;
}

.new_comment .submit_button{
    float: left;
}

.notificacion_de_comentario{
    float: left;
}
