body {
    /* Aqui hay un truquillo, por una parte se carga una imgaen con la cabezera y parte del fondo.. pero como el fondo hacia abajo no tiene un limite definido se le pone un color de fondo igual al color de fondo de la imagen */
    background: #EFEDEA url(/images/fondo.png) 0 0 repeat-x;
}

.text_base { /* Tamaño y formato basico del texto del blog */
    font-size:14px;
}

.cabecera {
    margin-top: 20px;
    height: 60px;
    margin-bottom: 20px;
}

.cuerpo{
   padding-top: 20px;
   background-color: #FFF;

}

.left_column{

}

#ficha{
    padding-left: 15px;
    padding-right: 25px;
}

#tags{
   padding-left: 15px;
   padding-right: 25px;
}

#tags ul{
    list-style-type: none
}

.posts{
    padding-left: 15px;
    padding-right: 25px;
}


.post {

}

.post_title{


}

.post_body{


}

.post_date{


}

.comments{

}

.space_between_posts{
   height:36px;
}

.selected_tag{
   font-weight: bold;
   font-size: 16px;

}

#buscador{
   padding-left: 15px;
}

#archivo{
   padding-left: 15px;
}