<div class="left_column span-4">

  <div id="ficha">
    <div id="foto"> <%= image_tag("diegopau.jpg", :width => "108px", :id => "imagen_foto") %></div>
    <div id="descripcion"> <%= link_to "About me", {:controller => 'posts', :action => 'search_result', :tag => 'about_me'} %>  </div>
  </div>

  <br>

  <div id="tags">
    <p>Tags:</p>
    <ul>
      <% @tags.each do |tag| %>

          <li><%= link_to "#{tag.name} (#{tag.posts.count})", {:controller => 'posts', :action => 'search_result', :tag => tag.name} %> </li>

      <% end %>
    </ul>
  </div>


</div>