<div class="left_column span-4">

  <div id="blue_box">
    <%= image_tag "blue_box_final.png", :width => "80px" %>
  </div>

  <div id="tags">
    <p>Tags:</p>
    <ul>
      <% @tags.each do |tag| %>

          <% if tag.name == @tag %>
              <li><%= link_to "#{tag.name} (#{tag.posts.count})", {:controller => 'posts', :action => 'search_result', :tag => tag.name, :language => @language}, :class => "selected_tag" %> </li>
          <% else %>
              <li><%= link_to "#{tag.name} (#{tag.posts.count})", {:controller => 'posts', :action => 'search_result', :tag => tag.name, :language => @language} %> </li>
          <% end %>
      <% end %>
    </ul>
  </div>


</div>
