<%= render :partial => 'cabecera'  %>


<div class="cuerpo span-24 last">

  <%= render :partial => 'left_column'  %>

  <div class = "posts span-14">

      <%= render :partial => 'post', :collection => @posts %>

  </div>

  <%= render :partial => 'right_column' %>

</div>
<br />