<%= render :partial => 'left_column' %>

<%= render :partial => 'cabecera'  %>

<div class="cuerpo span-20 last">

  <div class = "posts span-14">

      <%= render :partial => 'post', :collection => @posts %>

  </div>

  <%= render :partial => 'right_column' %>

</div>
<br />