<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
  <meta name="description" content="Diego Pau Blog"/>
  <meta name="keywords" content="rails,css,html,blog,diego,pau,diego pau,web development,sigojoven,web 2.0"/>
  <meta name="author" content="Diego Pau"/>
</head>
<body>
    <div class="container">
        <%= yield %>
     </div>
</body>
</html>
