<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>

  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
</head>
<body>
    <div class="container">
        <%= yield %>
     </div>
</body>
</html>
